.App {
  text-align: center;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 20;
  padding-left: 20%;
  padding-right: 20%;
}


/* Style the list items */
ul li {
  cursor: pointer;
//  position: relative;
  padding: 20px 12px 30px 0px;
  background: #eee;
  font-size: 14px;

  list-style: none;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bookMark{
    display: inline-block;
    padding: 0px 0px 30px 0px;
    margin: 0px;
}

h1{
    text-align: center;
}



/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
